.side-bar {
  background-color: #604d8e;
  height: 100% !important;
  position: fixed !important;
  width: 20% !important;
  padding: 50px 10px !important;
  bottom: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.user-profile center {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: calc(50% - 40px);
}

.user-profile img {
  border-radius: 50%;
}

.user-profile p {
  margin-top: 20px;
  color: #aab1b4ff;
  font-size: 20px;
  font-weight: 500;
}

.side-bar .ps-sidebar-container {
  background-color: #604d8e !important;
}

.side-bar a {
  text-decoration: none;
  color: #c0ced2;
  font-size: 20px;
}

.side-bar li:hover {
  transition: 0.2s linear;
}

.side-bar li {
  list-style-type: none;
  margin-inline-start: 0 !important;
}

.side-bar li:hover {
  background-color: #2c175f;
}

.side-bar li:hover a {
  font-weight: 500;
}

.side-bar li.active {
  background-color: #341d6b;
  color: #b2b4ef
}

.side-bar li.active a {
  font-weight: 500;
}

.dashboard>div:last-of-type {
  margin-left: 20%;
  /*background-color: #d6d7ed52;*/
  width: 80%;
  height: 100vh;
}

.dashboard .dropdown button::after {
  display: none;
}

.dashboard .dropdown button {
  background-color: transparent !important;
  border: none !important;
  font-size: 35px !important;
}

.dashboard .dropdown button svg {
  fill: #1d1746
}

.dashboard>div:last-of-type h3 {
  color: #2d284d
}

.dashboard>div:last-of-type p {
  font-size: 30px;
  font-weight: 400;
  color: #087341;
}

.statistics {
  gap: 10px;
  margin-top: 40px;
}


.statistics>div {
  background-color: #9f93d74a;
}

.categories-list {
  margin-top: 100px;
}

.users-container,
.testimonials-list {
  padding: 0;
  margin-top: 50px;
}

.users-container .user-item h4 {
  padding-bottom: 10px;
  position: relative;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.users-container .user-item h4::after {
  content: '';
  background-color: #8484c9;
  height: 100%;
  width: 90%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.users-container .user-item>div {
  box-shadow: 3px 3px 12px #7da9eb;
  cursor: pointer;
}

.users-container .user-item>div:hover h4::after {
  transform: scaleX(1)
}

.users-container .user-item .img-container {
  overflow: hidden;
}

.users-container .user-item h4 {
  height: 15%;
}

.users-container .icons-container {
  padding: 5px 0;
  height: 10%;
}

.users-container .user-item .img-container img {
  transition: transform 0.3s linear;
  object-fit: cover;
}

.users-container .user-item>div:hover>div>img {
  transform: scale(1.2);
}

.user-details {
  margin-top: 100px;
}

.user-details h1 {
  color: #503783
}

.user-details h2 {
  color: #5446d2
}

.user-details p {
  color: #586e72;
  font-size: 20px;
  font-weight: 400;
}

.user-details img {
  box-shadow: 7px 7px 12px #7997b9, -7px -7px 12px #7997b9;
}