.vacancy-breadCrumb {
    background-color: #F3EFFE;
}

.vacancy-breadCrumb a {
    text-decoration: none;
}

.vacancy-breadCrumb li {
    font-weight: 500;
}

.vacancy-breadCrumb li.active {
    color: #1D2026;

}

.vacancy-breadCrumb li:not(.active) {
    color: #6E7485;
}

.jobs-intro {
    padding: 40px 0;
}

.jobs-intro .swiper-wrapper {
    padding-bottom: 140px;
}

.jobs-intro-detail h1 {
    line-height: 100%;
    width: 90%;
    font-size: 57px;
    margin-bottom: 20px;
}

.jobs-intro-detail p {
    color: #767676;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}

.jobs-intro-detail a {
    text-decoration: none;
    font-weight: 500;
    color: #242424;
    font-size: 16px;
    border: 1px solid #7E54E0;
    border-radius: 13px;
    padding: 12px 24px;
}

.jobs-intro-detail>div>div:last-of-type img:nth-child(1) {
    border-radius: 50% / 30% 70% 30%;
    left: 70px
}

.jobs-intro-detail>div>div:last-of-type img:nth-child(2) {
    border-bottom-left-radius: 20% / 50%;
    left: 70px;
    top: 0;
}

.jobs-intro-detail>div>div:last-of-type img:nth-child(3) {
    bottom: 20px;
    right: 158px;
}

.jobs-intro-detail>div>div:last-of-type img:nth-child(4) {
    bottom: 100px;
    right: 0;
}

.jobs-intro-detail>div {
    gap: 100px;
}

.join {
    padding-bottom: 100px;
    background-color: #F3EFFE;
}

.job-features-container {
    background-color: #FFFFFF;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 30%;
}

.job-features-container .job-feature {
    background-color: #FFFFFF;
}

.join h3 {
    color: #1D2026;
    font-weight: 500;
}

.join .container>div:first-of-type>p {
    color: #4E5566;
    font-weight: 400;
    font-size: 24px;
}

.job-features-container h6 {
    color: #224A3B;
    font-size: 24px;
    font-weight: 500;
}

.job-features-container p {
    color: #4E6E62;
    font-weight: 400;
    font-size: 16px;
}

.job-features-container>div:first-of-type {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.job-features-container>div:last-of-type {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.job-benefits {
    padding: 60px 0 100px 0;

}

.job-benefits .long-line {
    height: 470px;
    width: 100%;
    left: 0;
    right: 0;
    top: -20px;
}

.job-benefits .swiper:nth-child(even) {
    background-color: #F3EFFE;
}

.job-benefits .swiper:not(:last-of-type) {
    margin-inline-end: 40px;
}

.job-benefits h4 {
    color: #1D2026;
    font-size: 24px;
    margin-bottom: 15px;
}

.job-benefits p {
    color: #4E6E62;
    font-size: 16px;
    font-weight: 400;
}

.job-benefits h3 {
    color: #1D2026;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 70px;
}

.job-benefits h3 span {
    padding-bottom: 10px;
    border-bottom: 6px solid #A27DF8;
}

@media (max-width: 1232px) {
    .join>div {
        flex-wrap: wrap;
    }

    .join>div>div {
        width: 100% !important;
    }

    .job-features-container {
        top: 60% !important
    }
}

@media (max-width: 1200px) {
    .jobs-intro-detail>div {
        flex-wrap: wrap;
    }

    .jobs-intro-detail>div>div {
        width: 100% !important;
    }

    .jobs-intro-detail>div>div:last-of-type img:nth-child(3) {
        right: 158px;
        left: 181px;
    }

    .jobs-intro-detail>div>div:last-of-type img:nth-child(4) {
        bottom: 126px;
        right: 0;
        left: 260px;
    }

    .job-benefits .long-line {
        display: none !important;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .join>div>div:first-of-type {
        margin-top: 20px !important;
    }

    .job-features-container h6 {
        font-size: 20px !important;
    }

    .job-features-container p {
        font-size: 15px !important;
    }

    .job-features-container {
        top: 70% !important
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .join>div>div:first-of-type {
        margin-top: 20px !important;
    }

    .job-features-container h6 {
        font-size: 15px !important;
    }

    .job-features-container p {
        font-size: 10px !important;
    }

    .job-features-container {
        top: 75% !important;
    }

    .job-benefits > div {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .job-benefits .swiper:not(:last-of-type) {
        margin-inline: 0;
    }

    .job-benefits > div > div {
        width: 48% !important;
        margin-bottom: 20px;
    }
}

@media (max-width: 577px) {
    .join {
        margin-bottom: 50px;
    }

    .join>div>div:first-of-type {
        margin-top: 20px !important;
    }

    .job-features-container {
        top: 90% !important;
    }

    .job-features-container h6 {
        font-size: 15px !important;
    }

    .job-features-container p {
        font-size: 10px !important;
    }

    .job-features-container {
        padding-inline: 25px;
        top: 78% !important;
    }

        .job-benefits > div {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-inline: 25px;
    }

    .job-benefits .swiper:not(:last-of-type) {
        margin-inline: 0;
    }

    .job-benefits > div > div {
        width: 100% !important;
        padding: 20px !important;
    }

}