:root {
  --toastify-color-success: #4CAF50;
  --toastify-color-error: #F44336;
  --toastify-toast-width: 100%;
  --toastify-toast-bd-radius: 8px;
  /* border-radius */
  --toastify-font-family: sans-serif;
}


* {
  font-family: "Georgia", serif !important;
}



.root>nav {
  background-color: #6341AF !important;
  padding: 20px 0 !important;
}

.nav-link {
  margin-inline-end: 30px !important;
}


.nav-link+p {
  background-color: #E7DDB5;
  transition: transform 0.2s linear;
  width: 70%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  margin-bottom: 0 !important;
  margin-top: -5px;
  border-radius: 9px;
}

.nav-link.active+p {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover+p {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-brand {
  margin-inline-end: 40px !important;
}

.error {
  margin-top: 100px;
}

.error p {
  color: #5C5C5C;
  font-weight: 400;
  font-size: 45px;
}

.error a {
  font-size: 18px;
  font-weight: 600;
  background-color: #7E54E0;
  color: #ffffff;
  text-decoration: none;
}

.dropDown-options {
  background-color: #ffffff !important;
}

.dropDown-options>* {
  color: #333333 !important;
  font-size: 18px !important;
  font-weight: 400;
}

.dropDown-options>*:hover {
  background-color: #7E54E0 !important;
}

.user-dropDown>button::after {
  display: none !important;
}

.loading-container>div {
  height: 45px;
  width: 45px;
  background-color: transparent;
  border-radius: 50%;
  border-top: 4px solid #2c175f;
  border-left: 4px solid #2c175f;
  animation: rotateLoading 0.7s linear infinite;
}

.custom-offcanvas.show .user-info {
  display: none !important;
}

.custom-offcanvas.show p {
  width: 0%;
}

.custom-offcanvas.show a {
  color: #0d232e;
  font-size: 30px;
}

.custom-offcanvas.show .user-links {
  display: inline-block !important;
}

.custom-offcanvas.show a:hover {
  color: #b0dee7;
}

.custom-offcanvas.show a.active {
  color: #b0dee7;
}



@keyframes rotateLoading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.MuiPagination-root ul {
  padding-bottom: 30px;
}

.remove-img>* {
  transition: 0.2s ease-out;
}

.remove-img:hover>* {
  transform: scale(1.2);
  color: #e83535 !important;
}

@media (max-width: 992px) {
  .user-update-container > div {
    flex-wrap: wrap;
    padding-inline: 20px !important;
  }

  .user-update-container > div > * {
    width: 100% !important;
  }

  .user-update-container > div > *:last-of-type {
    margin-top: 30px !important;
  }
}